.R/
.Rproj.user/
datos/originales/BD_*.xlsx
renv/library/
renv/staging/
renv/local/
informes/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
.DS_Store
.posit/assistant
informes/*_cache/
informes/*_files/
